#maket {
width: 100%; /* Ширина всей таблицы */
}
TD {
 border: 5px; /* Поля вокруг содержимого ячеек */
 vertical-align: top; /* Вертикальное выравнивание в ячейках */
 padding: 1px; /* Поля вокруг ячеек */
}
TD#leftcol {
	width: 1024px; /* Ширина левой колонки */
	border-right: 1px dashed #000; /* Параметры линии */
}
TD#rightcol {
	background: #fc3; /* Цвет фона правой колонки */
}
